// @media (max-width: 1399.98px)
@media (max-width: 1199.98px) {
    .container {
        width: 920px;
    }
    .menu {
        &__phone {
            font-size: 16px;
        }
        &__item {
            width: 110px;
        }
    }
    .promo {
        &__bg {
            left: -579px;
        }
        &__service {
            width: 330px;
        }
        &__info {
            width: 411px;
            left: 509px;
        }
        &__red {
            width: 408px;
        }
        &__work {
            width: 408px;
        }
        &__adv {
            width: 408px;
        }
        &__title {
            width: 300px;
        }
    }
    .services {
        width: 920px;
        &__item {
            width: 180px;
        }
    }
    .price {
        &__item {
            font-size: 18px;
        }
    }
    .about {
        &__text {
            font-size: 15px;
        }
    }
    .footer {
        width: 920px;
    }
};
@media (max-width: 991.98px) {
    .container {
        width: 720px;
    }
    .title {
        font-size: 28px;
    }
    .menu {
        &__list {
            width: 530px;
        }
        &__item {
            width: 80px;
            a {
                font-size: 14px;
                &:hover {
                    font-size: 15px;
                }
            }
        }
    }
    .promo {
        &__bg {
            left: -679px;
        }
        &__info {
            left: 409px;
            width: 311px;
        }
        &__service {
            width: 240px;
        }
        &__red {
            width: 308px;
        }
        &__work {
            width: 308px;
        }
        &__adv {
            width: 308px;
        }
        &__title {
            width: 210px;
        }
        &__text {
            font-size: 16px;
        }
    }
    .services {
        width: 720px;
        &__item {
            width: 140px;
        }
        &__icon {
            width: 120px;
        }
        &__descr {
            font-size: 14px;
        }
        &__official {
            font-size: 20px;
        }
    }
    .price {
        &__item {
            font-size: 17px;
        }
    }
    .about {
        &__wrapper {
            flex-direction: column-reverse;
        }
        &__text {
            margin-bottom: 15px;
            font-size: 16px;
        }
        &__image {
            text-align: center;
        }
    }
    .footer {
        width: 720px;
    }
};
@media (max-width: 767.98px) {
    .menu {
        justify-content: start;
        padding: 5px 15px;
        &__phone {
            line-height: 60px;;
        }
        &__btn {
            margin-top: 3px;
        }
    }
    .menu__list {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(255,250,250, .85);
        transition: 0.6s all;
        &_active {
            left: 0;
        };
        &__item {
            padding-right: 0;
            border: none;
            margin: 10px 0;
        };
    };
    .menu__item {
        width: 120px;
        margin-bottom: 15px;
    }
    .menu__hamburger {
        display: block;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: red;
            margin-bottom: 4px;
            transition: 0.5s all;
        };
        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    };
    .container {
        width: 540px;
    }
    .promo {
        &__wrapper {
            position: relative;;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__bg {
            display: block;
            position: relative;
            background: url('../img/EMMA-logo-for-Figma.png') center (center / cover) no-repeat;
            left: 0;
            height: 155px;
            width: 340px;
            margin: 15px 0;
        }
        &__info {
            position: relative;
            left: 0;
            width: 340px;
        }
        &__red {
            width: 337px;
        }
        &__work {
            width: 337px;
        }
        &__adv {
            width: 337px;
        }
    }
    .services {
        width: 550px;
    }
    .footer {
        width: 550px;
    }
};


@media (max-width: 575.98px) {

};