header {
    position: relative;
    height: 70px;
}
nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background: #FFFAFA;
    z-index: 15;
}
a {
    text-decoration: none;
}

.hamburger {
    display: none;
}

.menu {
    margin: 0;
    padding: 10px 0;
    position: relative;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
    &__list {
        height: 40px;
        margin: 0;
        padding-left: 0;
        display: flex;
    }
    &__item {
        margin: 0 15px;
        display: block;
        width: 120px;
        height: 45px;
        border: 3px solid #ec1d25;
        border-radius: 8px;
        text-align: center;
        transition: 0.3s all;
        &:hover {
            background-color: #ec1d25;
            box-shadow: 0px 0px 4px 1px #ec1d25;
        }
        a {
            display: block;
            font-size: 17px;
            line-height: 40px;
            font-weight: 700;
            color: #000;
            text-align: center;
            transition: 0.3s all;
            &:hover {
                color: #fff;
                font-size: 18px;
            }
            img {
                width: 45px;
            }
        }
        &:first-child {
            &:hover {
                background-color: #fff;
            }
        }
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
    }
    &__phone {
        display: block;
        text-decoration: none;
        font-size: 20px;
        line-height: 50px;
        font-weight: 500;
        color: #000;
        text-align: center;
        padding-right: 20px;
        transition: 0.3s all;
        &:hover {
            color: #ec1d25;
        }
    }
    &__btn {
        display: block;
        width: 50px;
        height: 50px;
        background: url('../icons/btn/main_btn_whatsapp.png') center (center / cover) no-repeat;
        outline: none;
    }
}