.price {
    position: relative;
    padding: 65px 15px 30px 15px;
    min-height: 450px;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 40px;
    }
    &__item {
        position: relative;
        padding-left: 15px;
        font-weight: 500;
        font-size: 20px;
        line-height: 40px;
        border-bottom: 1px solid #ec1d25;
        span {
            font-weight: 700;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            left: -20px;
            top: 10px;
            background: url('../../icons/check_solid.svg') center (center / cover) no-repeat 
        }
        &:last-child {
            margin-bottom: 20px;
        }
    }
    &__add {
        padding-left: 40px;
        font-size: 16px;
        font-weight: 500;
        font-style: italic;
    }
}