.services {
    min-height: 600px;
    background: url('../../img/bg_services.jpg') center (center / cover) no-repeat;
    padding: 65px 15px 30px 15px;
    width: 1140px;
    margin: 0 auto;
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    &__item {
        width: 200px;
        min-height: 330px;
        text-align: center;
        margin-bottom: 50px;
    }
    &__icon {
        width: 140px;
        margin-bottom: 25px;
        img {
            width: 100%;
        }
    }
    &__descr {
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
        margin: 0 auto;
    }
    &__official {
        text-transform: uppercase;
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        span {
            color: #ec1d25;
            font-size: 30px;
        }
    }
}
